\#*#
.\#*
*~

testinit.*
ac-comphist.dat
amx-items
gdb-entitlement.xml
ido.last
myinit.el
projectile-bookmarks.eld
recentf
tutorial
.mc-lists.el
projects

irony/
org-persist/
url/
auto-save-list/
autosaves/
backups/
.cache/
transient/
elpa/
elpy/
eshell/
/.lsp-session-v1
/bookmarks
/tramp
/.dap-breakpoints
/.extension/
